[submodule "modules/PX4Firmware"]
	path = masterlibs/modules/PX4Firmware
	url = git://github.com/ArduPilot/PX4Firmware.git
[submodule "modules/PX4NuttX"]
	path = masterlibs/modules/PX4NuttX
	url = git://github.com/ArduPilot/PX4NuttX.git
[submodule "modules/uavcan"]
	path = masterlibs/modules/uavcan
	url = git://github.com/ArduPilot/uavcan.git
[submodule "modules/waf"]
	path = masterlibs/modules/waf
	url = git://github.com/ArduPilot/waf.git
[submodule "modules/gbenchmark"]
	path = masterlibs/modules/gbenchmark
	url = git://github.com/google/benchmark.git
[submodule "modules/mavlink"]
	path = masterlibs/modules/mavlink
	url = git://github.com/ArduPilot/mavlink
[submodule "gtest"]
	path = masterlibs/modules/gtest
	url = git://github.com/ArduPilot/googletest
[submodule "modules/urus_modules"]
	path = masterlibs/modules/urus_modules
	url = https://github.com/UrusTeam/urus_modules.git
